@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
body {
  font-family: "Source Code Pro", monospace; 
  text-overflow: none;
}

.navbar > ul {
}
.navbar-collapse ul li {
  list-style-type: none;
  font-weight: 600;
  padding: 3px 8px;
}

.info-miraz > p {
  line-height: 1.8 !important;
  margin: 0;
}
.interest-name::before {
  content: "";
  display: inline-block;
  width: 40px;
  height: 20px;
  /* border-radius: 80%; */
  background-color: #f5f116;
  margin-right: -13px;
  margin-top: 25px;
}
.learning-now::before {
  background-color: #ff806a;

}
.interested-in::before {
  background-color: #12ff05;

}
.interests > p{
  margin-left: 30px;
}